BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
XAPIVERSE_KEY=YOUR_XAPIVERSE_API_KEY_HERE

# Opsional: Jika menggunakan Telegram Bot API Server lokal 
# (Untuk mengatasi limit pengiriman file 50MB, max menjadi 2000MB/2GB)
# LOCAL_API_URL=http://127.0.0.1:8081